#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
   color: rgba(255, 255, 255, 0.87);
}






.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
   background-color: #343232 !important
  ;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #d7dadd;
  }
} */


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.card {
    background-color: #6f6868;
    border-radius: 8px;

    overflow: hidden;
    width: 300px;
    margin: 20px;
    transition: transform 0.2s;
    padding: 2em;
}

.card:hover {
    transform: scale(1.05);
       box-shadow: -1px 7px 10px 12px rgb(204 204 204 / 10%);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
     color: #d7dadd;
    margin: 10px 0;
}

.card-price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    width: 100%;
}

.add-to-cart:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}